.venv
 
/APP/uploads/
/APP/Untitled.ipynb

/APP/token.json/
/APP/sec/
/APP/cassandra_knowledge/
ollama/
git
ollama
/APP/.ipynb_checkpoints/
/APP/exemples/
/APP/services/__pycache__/
/APP/langchain.db
/APP/services/__pycache__/
docs
/APP/Data_with_explanations.csv
/APP/trie_data.txt
/APP/c_src/trie.o


