<div id="messages">
  <!-- User Message -->
  <div class="message user">
    <input type="hidden" id="partition_id" name="partition_id" value="{{ partition_id }}">
    
    <div class="message-icon">
      <span class="icon-letter">A</span>
    </div>
    <div class="message-content">
      <p>{{ question }}</p>
    </div>
  </div>

  <!-- AI Message -->
  <div class="message ai">
    <div class="message-icon">
      <img src="/static/bot.png" alt="bot" class="bot-icon">
    </div>
    <div class="message-content">
      <p id="answer">{{ answer }}</p>
    </div>
  </div>
  
  <!-- Evaluation Form -->
  <div class="evaluation-form">
    <form hx-get="/evaluate_response/" hx-trigger="submit">
      <label for="evaluation">Was the response helpful?</label>
      <select id="evaluation" class="form-control" name="evaluation">
        <option value="True" {% if evaluation == "True" %}selected{% endif %}>Yes</option>
        <option value="False" {% if evaluation == "False" %}selected{% endif %}>No</option>
      </select>
      <input type="hidden" name="partition_id" value="{{ partition_id }}">
      <button type="submit" class="submit-button">Submit</button>
    </form>
  </div>

  <div class="timestamp">{{ timestamp }}</div>
</div>
