<div id="messages">
  <!-- User Message -->
  <div class="message user">
    <input type="hidden" id="partition_id" name="partition_id" value="{{ partition_id }}">
    
    <div class="message-icon">
      <img src="/static/icons8-user.svg" alt="bot" class="bot-icon">
    </div>
    <div class="message-content">
      <p>{{ question }}</p>
    </div>
  </div>

  <!-- AI Message -->
  <div class="message ai">
    <div class="message-icon">
      <img src="/static/bot.png" alt="bot" class="bot-icon">
    </div>
    {{answer}}
  </div>

  

  <div class="timestamp">{{ timestamp }}</div>
</div>

<style>
  .ellipsis {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      width: 300px; /* Adjust width */
  }
  #toggleButton {
      background-color: transparent;
      border: none;
      color: blue;
      text-decoration: antiquewhite;
      cursor: pointer;
  }

  .expanded {
      white-space: normal;
      overflow: visible;
      text-overflow: unset;
  }
</style>

<script>
  
  function toggleText() {
      let answer = document.getElementById("answer");
      let button = document.getElementById("toggleButton");

      if (answer.classList.contains("ellipsis")) {
          answer.classList.remove("ellipsis");
          answer.classList.add("expanded");
          button.textContent = "Show Less";
      } else {
          answer.classList.remove("expanded");
          answer.classList.add("ellipsis");
          button.textContent = "Show More";
      }
  }
</script>

